@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Roboto, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Roboto, sans-serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.00 0 0);
  --foreground: oklch(0.28 0.04 260.03);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.28 0.04 260.03);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.28 0.04 260.03);
  --primary: oklch(0.62 0.19 259.81);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.97 0.01 253.85);
  --secondary-foreground: oklch(0.37 0.03 259.73);
  --muted: oklch(0.55 0.02 264.36);
  --muted-foreground: oklch(0.71 0.02 261.32);
  --accent: oklch(0.62 0.19 259.81);
  --accent-foreground: oklch(1.00 0 0);
  --destructive: oklch(0.64 0.21 25.33);
  --border: oklch(0.93 0.01 255.51);
  --input: oklch(0.97 0.01 253.85);
  --ring: oklch(0.55 0.22 262.88);
  --chart-1: oklch(0.69 0.18 22.95);
  --chart-2: oklch(0.71 0.14 154.53);
  --chart-3: oklch(0.72 0.15 56.07);
  --chart-4: oklch(0.84 0.15 93.31);
  --chart-5: oklch(0.66 0.16 296.96);
  --sidebar: oklch(0.98 0.00 247.84);
  --sidebar-foreground: oklch(0.28 0.04 260.03);
  --sidebar-primary: oklch(0.62 0.19 259.81);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.62 0.19 259.81);
  --sidebar-accent-foreground: oklch(1.00 0 0);
  --sidebar-border: oklch(0.93 0.01 255.51);
  --sidebar-ring: oklch(0.55 0.22 262.88);
  --destructive-foreground: oklch(1.00 0 0);
  --font-sans: Roboto, sans-serif;
  --font-serif: Roboto, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 16px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 0px 16px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 0px 16px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 0px 16px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 0px 16px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 0px 16px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 0px 16px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 0px 16px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.025em;
}

.dark {
  --background: oklch(0.21 0.04 265.75);
  --foreground: oklch(1.00 0 0);
  --card: oklch(0.28 0.04 260.03);
  --card-foreground: oklch(1.00 0 0);
  --popover: oklch(0.28 0.04 260.03);
  --popover-foreground: oklch(1.00 0 0);
  --primary: oklch(0.62 0.19 259.81);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.28 0.04 260.03);
  --secondary-foreground: oklch(1.00 0 0);
  --muted: oklch(0.55 0.04 257.42);
  --muted-foreground: oklch(0.71 0.04 256.79);
  --accent: oklch(0.62 0.19 259.81);
  --accent-foreground: oklch(1.00 0 0);
  --destructive: oklch(0.64 0.21 25.33);
  --border: oklch(0.32 0.05 264.08);
  --input: oklch(0.28 0.04 260.03);
  --ring: oklch(0.55 0.22 262.88);
  --chart-1: oklch(0.69 0.18 22.95);
  --chart-2: oklch(0.71 0.14 154.53);
  --chart-3: oklch(0.72 0.15 56.07);
  --chart-4: oklch(0.84 0.15 93.31);
  --chart-5: oklch(0.66 0.16 296.96);
  --sidebar: oklch(0.28 0.04 260.03);
  --sidebar-foreground: oklch(1.00 0 0);
  --sidebar-primary: oklch(0.62 0.19 259.81);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.62 0.19 259.81);
  --sidebar-accent-foreground: oklch(1.00 0 0);
  --sidebar-border: oklch(0.32 0.05 264.08);
  --sidebar-ring: oklch(0.55 0.22 262.88);
  --destructive-foreground: oklch(1.00 0 0);
  --radius: 0.5rem;
  --font-sans: Roboto, sans-serif;
  --font-serif: Roboto, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 16px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 0px 16px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 0px 16px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 0px 16px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 0px 16px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 0px 16px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 0px 16px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 0px 16px 0px hsl(0 0% 0% / 0.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}